[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jan Palma
	email = mobilex1122.en@gmail.com
	singingkey = BF72D1D9DB3EF03A6069EC6877F7EFF2ED32A956!
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = micro
[commit]
	gpgsign = true
