<config>
    <desktop>
        <taskbar>
            <item id="Term" label="Terminal Emulator" type="term" title="Terminal" cmd="pwsh"/>
            <item id="LazyGit" label="LazyGit" type="term" title="LazyGit" cmd="lazygit"/>
            <autorun>  <!-- Autorun specified menu items:     -->
                <item id="Term" winsize="90,25" wincoor="30,5" />
                <!--  <item wincoor=92,31 winform=minimized />      -->  <!-- Autorun supports minimized winform only. -->
                <!--  <item wincoor=8,31 />                         -->
                <!--  <item wincoor=8,4 winsize=164,25 focused />   -->
            </autorun>
        </taskbar>

        <background>  <!-- Desktop background. -->
            <color fgc=whitedk bgc=0x80161616/>  <!-- Desktop background color. -->
            <tile="     /  \\   \n__/        \\\n  \\        /\n     \\__/   "/>
        </background>


        <shadow enabled=1>  <!-- Desktop window shadows (TUI mode). -->
            <blur=3/>         <!-- Blur radius (in cells). Default is "3". -->
            <bias=0.37/>      <!-- Shadow contour bias [0.0 - 1.0]. Default is "0.37". -->
            <opacity=105.5/>  <!-- Opacity level (alpha) [0.0 - 255.0]. Default is "105.5". -->
            <offset=2,1/>     <!-- 2D offset relative to the window (in cells). Default is "2,1". -->
        </shadow>
    </desktop>
</config>
