* {
  font-family: "FiraCode Nerd Font", "FiraCode", sans-serif;
}

#sidebar-window {
  background: rgba(0, 0, 0, 0);
}


.topBarMain {
  background: #1B1E20;
}

.topBar {
  padding: 5px 10px;
}

.batLow {
  background: #441E20;
}

.batLowBanner {
  background: rgba(255,0,0,1);
  padding: 4px;
  border-radius: 5px;
  margin: 10px;
}

.timeLabel {
  font-size: 10px;
  font-weight: bold;
}

.dateLabel {
  font-size: 8px;
}

#sidebar {
  background-color: #1B1E20;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /*border: 1px solid #282B2F;*/
  border-radius: 5px;
  padding: 20px;
  margin: 0px;
  /*box-shadow: 0px 0px 5px #000000;*/
}

.widget {
  background-color: #1B1E20;
  border: 1px solid #282B2F;
  border-radius: 5px;
  padding: 5px;
  margin: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 200);
}

.player {
  padding: 10px;
  min-width: 350px;
  border-bottom: 1px #303030 solid;
}

.player:last-child {
  border-bottom: 0px #000000 solid;
}

.player .img {
  background: #151515;
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em;
}

.player .title {
  font-size: 1.2em;
}

.player .artist {
  font-size: 1.1em;
  color: @insensitive_fg_color;
}

.player scale.position {
  padding: 0;
  margin-bottom: .3em;
}

.player scale.position trough {
  min-height: 8px;
}

.player scale.position highlight {
  background-color: @theme_fg_color;
}

.player scale.position slider {
  all: unset;
}

button {
  background: #353535;
  border: 1px solid #535659;
  border-radius: 5px;
  min-height: 1em;
  min-width: 1em;
  padding: .3em;
}

.topBarMain button {
  padding: 2px 8px;
}

button.trayIcon {
  padding: 2px 5px 2px 6px;
  background: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

button.active,
button:hover {
  background: #2D546B;
  border: 1px solid #3DAEE9;
}

button.sidebarButton {
  padding: 2px 8px 2px 4px;
}

button.trayIcon:hover {
  background: #303030;
  border: rgba(0, 0, 0, 0) 0px solid;
}

.batteryIcon {
  padding: 2px 5px 2px 6px;
}

.player button.play-pause {
  margin: 0 .3em;
}



/** NOTIGY **/
window.notification-popups box.notifications {
  padding: .5em;
}

.icon {
  min-width: 32px;
  min-height: 32px;
  margin-right: 1em;
}

.icon image {
  font-size: 32px;
  /* to center the icon */
  margin: 5px;
  color: @theme_fg_color;
}

.icon box {
  min-width: 64px;
  min-height: 64px;
  border-radius: 7px;
}

.notification {
  min-width: 350px;
  border-radius: 5px;
  padding: 5px;
  margin: 8px;
  border: 1px solid #535659;
  background-color: @theme_bg_color;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: @theme_fg_color;
  font-size: 1.4em;
}

.body {
  color: @theme_unfocused_fg_color;
}

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}
