window {
	background-color: transparent;
	border-radius: 20px;
}

#main {
	background: transparent;
}
#main entry {
	padding: 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
}
#main list {
	background: transparent;
}
#main list > #plugin {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background-color: #1B1E20;
	border-radius: 5px;
	margin-top: 5px;
	border: 1px solid #2A2E32;
}

#main list > #plugin:hover {
	background-color: #2A2E32;
}

#main list > #plugin list {
        padding: 10px;
}
list > #match {
	margin: 4px 0px;
	padding: 4px;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid transparent;
}
list > #match:selected {
        background-color: #2D546B;
	border: 1px solid #3DAEE9;
}
